<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Volunteer Registration</h1>
                </div>
                <div class="px-15">
                    <div class="container">
                        <div class="row justify-content-center" style="margin-top: 25px;">
                            <div class="col-md-9">
                                <p class="rounded" 
                                style="font-weight: bold;
                                text-align: left; 
                                background-color: #f8dcdd;
                                border: 0.15rem solid black;
                                padding: 8px;">
                                    If you would like to become a volunteer and help make the Cupcheck Cancer Tournament a successful event, please e-mail us with 
                                    the volunteer position you would be interested in helping with. Many of these positions don't require much prior knowledge of hockey.
                                    Please send e-mails to <a href="mailto:cupcheckcancer@gmail.com?Subject=Registration%20Page" target="_top">cupcheckcancer@gmail.com</a>.
                                    If you are interested in more than one position please indicate so. We will provide more details on the duties each position requires.
                                    Additionally, if you are interested in donating items to be raffled off in the donation raffle, please use the same e-mail to contact us
                                    with information. 
                                    Here are the positions we are looking to fill:
                                </p>
                                <div class="row">
                                    <div class="container" style="text-align: left; font-size: 20px; font-weight: bold; color: black;">
                                        <ul>
                                            <li>Registration Table Check-in: Sign in teams, collect registration money, and answer questions about locker rooms, game times
                                                and other tournament info.
                                            </li>
                                            <li>Donation Raffle Table Monitor: Collect donations and hand out raffle tickets for the tournament donation raffle.</li>
                                            <li>Game Clock Manager: Runs the game clock to keep track of period/game start and end times</li>
                                            <li>Game Offical: Keep track of scoring, time, puck reset, arbiter of infractions, report issues to tournament chairman or vice chairman.</li>
                                            <li>Tournament Setup: General setup including but not limited to putting up signage, setting up tables, and placing goals and divders on
                                                playing surface.
                                            </li>
                                            <li>Tournament Takedown: General cleanup and putting away of tournament materials.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>>
