<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">About Cupcheck Cancer</h1>
                </div>
                <div class="px-15">
                    <div class="container">
                        <div class="row justify-content-center" style="margin-top: 25px;">
                            <div class="col-md-9">
                                <p class="rounded" 
                                style="font-weight: bold; 
                                text-align: left;
                                background-color: #f8dcdd;
                                border: 0.15rem solid black;
                                padding: 8px;">
                                    The Cupcheck Cancer Tournament is a tournament created to raise money for brain cancer research and awareness. The first tournament
                                    was held on October 20th 2018 and featured 6 teams playing against each other in a pond hockey style tournament but at the indoor rinks of
                                    the Sun Prairie Ice Arena in Sun Prairie, WI. The idea for the tournament was born out of the desire to create something to honor
                                    Kevin J Wagner, father and father in-law to tournament founders Alex Wagner and Cole Simmons. Kevin Wager, or "K Wags" as many liked to 
                                    call him, was the founder of the local Sun Prairie adult hockey league called the Old Buzzard Hockey League. In the Spring of 2018,
                                    Kevin was diagnosed with a rare form of the brain cancer, Glioblastoma. Over the remaining year and a half of his life, Kevin was able to 
                                    make appearances at the two Cupcheck Cancer tournaments, until he passed away on October 11th 2019. Our goal is that this annual tournament
                                    will not only raise money to help continue funding brain cancer research but also to honor the memory of K Wags. Kevin believed in 
                                    supporting his family, friends, and community. We hope to walk in those footsteps buy providing an experience that will bring
                                    family, friends, and members of the community together to support those in need as Kevin would have done. 
                                </p>
                            </div>
                        </div>
                        <div class="intro-button mx-auto">
                            <a class="btn btn-primary btn-xl" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RGJE9JQTXH7TY&source=url" target="_blank">Donate Today!</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>