<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../assets/IMG_20190608_103329.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Welcome</span>
            <span class="section-heading-lower">SkaterS & Volunteers</span>
          </h2>
          <p class="mb-3">We invite you to come play in this friendly tournament or sign up to volunteer.
            Proceeds will be donated to the Carbone Cancer Research Center and used for brain cancer research as well as fund
            this tournament each year as it continues to grow. If you can't or don't want to play or volunteer, consider giving a donation.
            We thank you for any and all support.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RGJE9JQTXH7TY&source=url" target="_blank">Donate Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Upcoming Tournament</h1>
                </div>
                <div class="px-15">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-9 rounded"
                                style="font-weight: bold; 
                                text-align: left;
                                background-color: #f8dcdd;
                                border: 0.15rem solid black;
                                padding: 8px;">
                                <p>
                                  UPDATE!! A new date has finally been selected for the next Cupcheck Cancer Tournament! Mark your calendars
                                  for Saturday May 20th, 2023!! More details about registration will be shared soon as we begin to update 
                                  the website and prepare to continue on this journey. 
                                </p>
                                <p>
                                  We're expanding the number of teams this year from 8 to 12!! The cost for signup is still $300 per team.
                                  We're excited to be hosting our third tournament and with your feedback from the previous tournaments we hope
                                  that the experience will continue to get even better. Please make sure you visit the 
                                  <a routerLink="/tournament">Tournament</a> page above
                                  before registering for all of the specific tournament details. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Mission</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">The Cupcheck Cancer Tournament is a friendly indoor pond hockey style tournament held each year to raise money for 
              Glioblastoma brain cancer research and awareness. 
              It is also a time to honor the life of Kevin Wagner who loved the game of hockey. Our mission is to give back to those who 
            like Kevin's family received so much help and love while battling brain cancer.</p>
          </div>
        </div>
      </div>
    </div>
  </section>