<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Tournament Details</h1>
                </div>
                <div class="px-15">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-9 rounded"
                                style="font-weight: bold; 
                                text-align: left;
                                background-color: #f8dcdd;
                                border: 0.15rem solid black;
                                padding: 8px;">
                                <ul >
                                    <li>Next Tournament Date: 5/20/2023</li>
                                    <li>
                                        Registering online does not guarantee your spot in a tournament.  Our policy is the first paid teams are locked into a tournament regardless of what order they've signed up on the website.  
                                        You are officially registered when your payment is received.
                                    </li>
                                    <li>Host Arena: Sun Prairie Ice Arena 838 Grove St, Sun Prairie, WI 53590</li>
                                    <li>Registration and Check-in Time: 8am.</li>
                                    <li>First games begin at 9am.</li>
                                    <li>The tournament will consist of 8 teams of 5-7 players in a pond hockey style setting.</li>
                                    <li>Each team is required to register a minimum of 5 players.</li>
                                    <li>There will be three divisions that play each other in a round robin format.</li>
                                    <li>
                                        Top teams from the round robin play in each division, along with a fourth wildcard team determined by the 
                                        team with the next highest points total, will then be seeded in a single elimination bracket with a 
                                        consolation bracket so that all teams play at least 4 games with some playing 5 in the championship bracket.
                                    </li>
                                    <li>Games will consist of two 15 minute periods of play with a 2 minute intermission between periods.</li>
                                    <li>Signup cost is $300 PER TEAM.</li>
                                    <li>We will have another donation raffle with various items. Players will have the opportunity to donate money for raffle tickets
                                        throughout the day. Tickets will be drawn at the conclusion of divisional play.
                                    </li>
                                    <li>We will also have Cupcheck Cancer t-shirts for sale for $10 at the tournament</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Tournament Rules</h1>
                    <div class="px-15">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-9 rounded"
                                    style="font-weight: bold; 
                                    text-align: left;
                                    background-color: #f8dcdd;
                                    border: 0.15rem solid black;
                                    padding: 8px;">
                                    <p>
                                        These rules follow the US Pond Hockey Championship Tournament rules with some adjustment. 
                                        Any adjustments have already been made meaning everything you read in this document are 
                                        the exact rules for the Cupcheck Cancer Tournament. All discrepancies or further decisions 
                                        related to these rules will be made by the Tournament Chairman or Vice Chairman and can be 
                                        made at any time during tournament play at their discretion. By virture of registering, you
                                        agree that you have read and understand all of the rules listed below.
                                    </p>
                                    <ol >
                                        <li>The winner of a captain's coin toss will determine which goal to defend. Teams will switch goals after first half.</li>
                                        <li>All players must wear helmets and hockey skates. Protective equipment is optional but highly recommended.</li>
                                        <li>No goalie equipment or goalie sticks permitted.</li>
                                        <li>Players should bring a light and dark jersey if they can. We will have colored jerseys provided by the rink for teams that do not have a full set of jerseys for their players.</li>
                                        <li>There will be one off-ice game official for each game to monitor the play (scoring, time, puck reset, and arbiter of infractions).</li>
                                        <li>A minor penalty will result in possession of the puck awarded to the opposing team. Rink Monitors will have the discretion to also award a goal to the opposing team when a minor penalty is flagrant and/or a team is consistently playing in a reckless manner.</li>
                                        <ul>
                                            <li>Referees will have the discretion to also award a "penalty shot" to the opposing team when a minor penalty is flagrant and/or a team is consistently playing in a reckless manner.</li>
                                            <li>Penalty shot will be taken from center ice and must be attempted within 30 seconds of the penalty being called. Anyone on the opposing team can take the shot. The team that is awarded the penalty shot will also be given possession of the puck following the penalty shot attempt (regardless of the outcome of the shot).</li>
                                        </ul>
                                        <li>Any major penalty, which includes any action that could possibly injure another player, will result in that player being ejected from the tournament.  A Head Referee and/or an Off-ice pond official will determine major penalties in consultation with game referee. </li>
                                        <li>Abuse of officials will be considered a major penalty. This includes yelling, swearing, or arguing about calls.</li>
                                        <li>No checking is allowed. Such action will result in a minor penalty unless deemed serious enough to be a major (see off-ice pond official).</li>
                                        <li>No slapshots allowed. Such action will result in a minor penalty.</li>
                                        <li>Players cannot fall or lay on the ice in an effort to protect the goal area. Such action will result in a minor penalty.</li>
                                        <li>Goaltending is not allowed. A player may not patrol, "camp out" or remain stationary in the crease area and act as a goaltender. A defender may deflect the puck in the crease area, but the defender must do so while continuing to move through the crease area. The crease area is defined as an imaginary box extending out four feet from the outside corners of the goal.</li>
                                        <li>Contacting the puck with a stick above the waist will result in a loss of possession.</li>
                                        <li>Saucer passes (i.e. pucks that are lifted low, below the knee) are acceptable.</li>
                                        <li>If a puck goes out of bounds, the last team to touch it loses possession. During restart, the defender must give his opponent 2-stick lengths of space.</li>
                                        <li>There are no off-sides or icing calls.</li>
                                        <li>Goals can be scored from any area of the rink.</li>
                                        <li>Referees will call out the score after each goal. This includes goals scored by players or awarded from minor penalties.</li>
                                        <li>Teams must give their opponents 1/2 ice after a goal is scored or an infraction takes place.</li>
                                        <li>Games will be composed of two 15-minute halves with a 2-minute halftime.</li>
                                        <li>In the event of a tie during both qualifying and championship games, the play will move to sudden death format.</li>
                                        <li>All games are running-time and substitutions can be made during play ("on-the-fly") or while a puck is being retrieved. There is no stoppage of play after a goal is scored, or after a penalty is awarded. It is up to each team to ensure that there are only three players on the ice.</li>
                                        <li>Players can only play on one team.</li>
                                        <li>Substitutions must be made by 8:45 a.m. on the first day of tournament play at Player Check-in located at the bottom of the player ramp in the Sun Prairie Ice Arena. No other substitutions throughout the tournament are allowed. The five to seven players that are on your roster at 9 a.m. on the first day of tournament play must be the same players that play on your team throughout the tournament.</li>
                                        <li>Setting picks in offensive zone is not allowed. Deference will be given to a defender in front of their own net where their progress is impeded by the pick or interference of an offensive player.</li>
                                        <li>It is the responsibility of the team captain to ensure the correct game score has been logged on the score sheet. By signing the score sheet at the conclusion of the game, your team captain is acknowledging that they agree with the final score. Teams cannot contest scores/results after they have signed the scoresheet.</li>
                                        <li>In the event of a forfeit during pool play of any division, the team who did not forfeit will receive a win and, for tie breaker purposes, will be assigned a goals for and goals against total for that game equal to the average of their other pool play games. These will be assigned at the conclusion of the pool play round when advancement is being determined.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Scoring</h1>
                    <div class="px-15">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-9 rounded"
                                    style="font-weight: bold; 
                                    text-align: left;
                                    background-color: #f8dcdd;
                                    border: 0.15rem solid black;
                                    padding: 8px;">
                                    <ul>
                                        <li>3 points for a win.</li>
                                        <li>1 point for a tie.</li>
                                        <li>½ point for winning a half (Scoring the most goals in a half. If both teams score an equal amount of goals in a half then no points are awarded).</li>
                                        <li>Tiebreakers are determined by GF first, then GA, and if still tied, a coin toss.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-button mx-auto">
                <a class="btn btn-primary btn-xl" routerLink="/team-registration">Register Today</a>
            </div>
        </div>
    </div>
</section>
